A:link {
	FONT-SIZE: 10pt; COLOR: #002389
}
A:visited {
	FONT-SIZE: 10pt; COLOR: #002389
}
A:active {
	FONT-SIZE: 10pt; COLOR: #002389
}
A:hover {
	FONT-SIZE: 10pt; COLOR: #000000
}
TD {
	FONT-SIZE: 10pt
}
